## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [ ]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_list = []
for c in application_df:
  unique_list.append({"column":c, "unique_values":len(application_df[c].unique())})
unique_list_df = pd.DataFrame(unique_list)
unique_list_df = unique_list_df.set_index("column", drop=True)
unique_list_df

                        unique_values
column
APPLICATION_TYPE                   17
AFFILIATION                         6
CLASSIFICATION                     71
USE_CASE                            5
ORGANIZATION                        4
STATUS                              2
INCOME_AMT                          9
SPECIAL_CONSIDERATIONS              2
ASK_AMT                          8747
IS_SUCCESSFUL                       2

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[application_df["CLASSIFICATION"].value_counts() >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df["CLASSIFICATION"].value_counts().loc[application_df["CLASSIFICATION"].value_counts() <800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns = ["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(X)
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.21)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
activation = "relu"
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=100, activation=activation, input_dim=43))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation=activation))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=25, activation=activation))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 25)                1275

 dense_3 (Dense)             (None, 1)                 26

=================================================================
Total params: 10,751
Trainable params: 10,751
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
nn_fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
847/847 [==============================] - 3s 2ms/step - loss: 0.5684 - accuracy: 0.7202
Epoch 2/50
847/847 [==============================] - 3s 3ms/step - loss: 0.5561 - accuracy: 0.7259
Epoch 3/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7285
Epoch 4/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7303
Epoch 5/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7311
Epoch 6/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7321
Epoch 7/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7321
Epoch 8/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7322
Epoch 9/50
847/847 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7328
Epoch 10/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7333
Epoch 11/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7335
Epoch 12/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7343
Epoch 13/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7343
Epoch 14/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7347
Epoch 15/50
847/847 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 16/50
847/847 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7345
Epoch 17/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7362
Epoch 18/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7355
Epoch 19/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7351
Epoch 20/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7355
Epoch 21/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 22/50
847/847 [==============================] - 3s 3ms/step - loss: 0.5420 - accuracy: 0.7360
Epoch 23/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7361
Epoch 24/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7370
Epoch 25/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7359
Epoch 26/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7376
Epoch 27/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 28/50
847/847 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7377
Epoch 29/50
847/847 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 30/50
847/847 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7372
Epoch 31/50
847/847 [==============================] - 3s 3ms/step - loss: 0.5402 - accuracy: 0.7370
Epoch 32/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7374
Epoch 33/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7380
Epoch 34/50
847/847 [==============================] - 4s 5ms/step - loss: 0.5398 - accuracy: 0.7371
Epoch 35/50
847/847 [==============================] - 5s 5ms/step - loss: 0.5398 - accuracy: 0.7382
Epoch 36/50
847/847 [==============================] - 5s 6ms/step - loss: 0.5396 - accuracy: 0.7371
Epoch 37/50
847/847 [==============================] - 6s 7ms/step - loss: 0.5396 - accuracy: 0.7386
Epoch 38/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7374
Epoch 39/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7382
Epoch 40/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7382
Epoch 41/50
847/847 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7386
Epoch 42/50
847/847 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7383
Epoch 43/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7378
Epoch 44/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7386
Epoch 45/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 46/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7394
Epoch 47/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7382
Epoch 48/50
847/847 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 49/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7384
Epoch 50/50
847/847 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7392

In [ ]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

226/226 - 0s - loss: 0.5575 - accuracy: 0.7316 - 466ms/epoch - 2ms/step

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")